/* .confessionFormDiv {
  margin: 0 1rem;
  border-radius: 20px;
  background-color: #ebebeb;
  height: 75vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 900px;
}

.confessionFormDiv form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10rem;
  gap: 1.6rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.inputDiv p {
  color: black;
  font-size: 1.6rem;
  font-weight: 300;
}

.inputDiv input {
  height: 2.6rem;
  padding: 0 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.SubmitButton {
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 4px grey;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(2, 63, 186, 1) 0%,
    rgba(158, 0, 255, 1) 100%
  );
} */

.section__confession {
  height: 100vh;
  width: 100%;
  /* background-color: #ebebeb; */
}

.confession__div {
  height: 70vh;
  display: flex;
  width: 100%;
  justify-content: center;
}

.confession__div form {
  /* background-color: #fafafa; */
  width: 40%;

  display: flex;
  height: 70vh;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anonymous {
  font-size: 20px;
  font-weight: 300;
}

.heading {
  margin-top: 2rem;
  border-bottom: 2px solid rgba(0, 0, 255, 0.65);
  font-weight: 500;
  font-size: 26px;
  color: rgb(42, 42, 42);
}

.inputDiv {
  padding: 0 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.inputDiv input {
  padding: 0.6rem 0.8rem;
  font-size: 16px;
  color: rgb(35, 35, 35);
  border: 2px solid blue;
  border-radius: 10px;
  max-width: 30rem;
}

.SubmitButton {
  padding: 0.6rem 1.4rem;
  font-size: 16px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(2, 63, 186, 1) 0%,
    rgba(158, 0, 255, 1) 100%
  );
  border-radius: 30px;
  color: white;
}
