.confessionPage {
  max-width: 1400px;
  margin: 0 auto;
  /* background-color: red; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createButton {
  width: 12rem;
  height: 2.4rem;
  margin: 0 1rem;
}

.createButton button {
  font-size: 18px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(2, 63, 186, 1) 0%,
    rgba(158, 0, 255, 1) 100%
  );
  color: white;
  border-radius: 1.6rem;
  border: none;
  cursor: pointer;

  transition: 1s all;
}

.createButton :hover {
  background: linear-gradient(90deg, rgb(0, 72, 217) 0%, rgb(136, 0, 221) 100%);
  box-shadow: 0 0 5px rgba(134, 134, 134, 0.528);
  /* transition-delay: 0.5s; */
}
