.headerdiv {
  display: absolute;
  top: 0;
  padding: 8px 0;
  position: sticky;
  z-index: 2;
  font-size: 1.5rem;
  width: 100%;
  color: #000;
  backdrop-filter: blur(10px);
  /* backdrop-filter: opacity(20%); */
  background-color: #ffffffa1;
  border-bottom: 1px solid grey;
}
.header {
  font-size: 18px;
  margin: auto;
  max-height: 3rem;
  max-width: 80%;
  min-width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 2px;
}

.mylogo {
  width: 40px;
  height: auto;
}

.topHome {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}
