.headerdiv {
  display: absolute;
  top: 0;
  padding: 8px 0;
  position: sticky;
  z-index: 2;
  font-size: 1.5rem;
  width: 100%;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid grey;
}
.header {
  margin: auto;
  height: 2.5rem;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.mylogo {
  width: 40px;
  height: auto;
}
