.headerdiv {
  display: absolute;
  top: 0;
  padding: 8px 0;
  position: sticky;
  z-index: 2;
  font-size: 1.5rem;
  width: 100%;
  color: #000;
  backdrop-filter: blur(10px);
  /* backdrop-filter: opacity(20%); */
  background-color: #ffffffa1;
  border-bottom: 1px solid grey;
}
.header {
  font-size: 18px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;

  max-width: 1300px;
  max-height: 3rem;
}

.right {
  width: 60%;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
}

.mylogo {
  width: 40px;
  height: auto;
}

.topHome {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.confessionNav {
  font-size: 18px;
  height: 2.4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  /* width: 100%; */
  background: linear-gradient(
    90deg,
    rgba(2, 63, 186, 1) 0%,
    rgba(158, 0, 255, 1) 100%
  );
  color: white;
  border-radius: 1.6rem;
  border: none;
}

.api_nav {
  border: 2px solid blue;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}
