.cardBox {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.6rem;
  max-width: 900px;
  border-radius: 2rem;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgba(2, 63, 186, 1);
  margin-top: 2rem;
}

.cardBox div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.message {
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 0.4rem;
}
