:root {
  --mainColor: #db143b;
  --secondaryColor: #ffffff;
  --secondaryGreyColor: #efefef;
  --greyColor: #050505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  width: 100%;
  margin-left: 24px;
}

.ErrorMessage {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.iamnitesh {
  max-width: 30px;
  height: auto;
}

.myform {
  width: 80%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1rem 2rem;
  border: 1px solid rgba(48, 60, 192, 0.178);
  align-self: center;
  /* background-color: red; */
}

.electionContainer {
  margin: 1.6rem 0;
  display: flex;
  justify-content: center;
}

.electionFlex {
  max-height: 20vh;
  width: auto;
}

.footerDiv {
  /* background-color: red; */
  width: 100%;
  margin-top: 2rem;
  gap: 0.6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerDiv p,
a {
  font-size: 1.2rem;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
